.box{
    border: 1px solid black;
    width: 310px;
    height: 440px;
    background-color: #241f1d;
    border-radius: 10px;
   
    margin: auto;
    margin-top: 50px;
}
.operator div{
    float: left;
    margin: 1px;
}
.operator button{
    width: 70px;
    height: 55px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #3e3a38;
    border: none;
    color: white;
}

.operator{
    margin: 5px;
    
}
input{
    width: 280px;
    height: 50px;
    border: 1px solid;
    font-size: large;
    margin: 10px;
    border-radius: 8px;
    background-color: #241f1d;
    border: 1px solid white;
    position: relative;
    top: -40px;
    color: white;
    font-size: 30px;
    text-align: right;
   
}


.backspace button{
    width: 214px;
}
.operator{
    margin-left: 10px;
    margin-top: -40px;
}
.title p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    margin-top: -1px;
    margin-left: 10px;
}
.equal button{
    background-color: aqua;
    color: #241f1d;
}
button:hover{
    opacity: 0.8;
}


